/* reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

/* default behavior */
html {
  font-size: 16px;
  /* font-size: clamp(12px, 1.2vw, 16px); */
  height: 100%;
}

body {
  font-family: Pretndard, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  height: 100%;
  text-align: start;
  word-break: keep-all;
}

.main {
  height: 100%;
}

/* layout */
.section {
  height: 100%;
}

/* flex */
.is-flex {
  display: flex;
}

.is-flex-col {
  display: flex;
  flex-direction: column;
}

.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.is-flex-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.is-flex-end {
  justify-content: flex-end;
  align-items: start;
}

/* columns */
.columns {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.columns.is-full {
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}

.column.is-full {
  height: 100%;
}

.column.is-1-12 {
  width: calc(100% / 12 * 1);
}

.column.is-2-12 {
  width: calc(100% / 12 * 2);
}

.column.is-3-12 {
  width: calc(100% / 12 * 3);
}

.column.is-4-12 {
  width: calc(100% / 12 * 4);
}

.column.is-5-12 {
  width: calc(100% / 12 * 5);
}

.column.is-6-12 {
  width: calc(100% / 12 * 6);
}

.column.is-7-12 {
  width: calc(100% / 12 * 7);
}

.column.is-8-12 {
  width: calc(100% / 12 * 8);
}

.column.is-9-12 {
  width: calc(100% / 12 * 9);
}

.column.is-10-12 {
  width: calc(100% / 12 * 10);
}

.column.is-11-12 {
  width: calc(100% / 12 * 11);
}

.column.is-12-12 {
  width: calc(100% / 12 * 12);
}

@media screen and (min-width: 600px) {
  .column.is-1-12-600 {
    width: calc(100% / 12 * 1);
  }

  .column.is-2-12-600 {
    width: calc(100% / 12 * 2);
  }

  .column.is-3-12-600 {
    width: calc(100% / 12 * 3);
  }

  .column.is-4-12-600 {
    width: calc(100% / 12 * 4);
  }

  .column.is-5-12-600 {
    width: calc(100% / 12 * 5);
  }

  .column.is-6-12-600 {
    width: calc(100% / 12 * 6);
  }

  .column.is-7-12-600 {
    width: calc(100% / 12 * 7);
  }

  .column.is-8-12-600 {
    width: calc(100% / 12 * 8);
  }

  .column.is-9-12-600 {
    width: calc(100% / 12 * 9);
  }

  .column.is-10-12-600 {
    width: calc(100% / 12 * 10);
  }

  .column.is-11-12-600 {
    width: calc(100% / 12 * 11);
  }

  .column.is-12-12-600 {
    width: calc(100% / 12 * 12);
  }

  .column-sticky {
    position: sticky;
    top: var(--gap, 1rem);
    top: 3.9375rem;
  }
}

@media screen and (min-width: 900px) {
  .column.is-1-12-900 {
    width: calc(100% / 12 * 1);
  }

  .column.is-2-12-900 {
    width: calc(100% / 12 * 2);
  }

  .column.is-3-12-900 {
    width: calc(100% / 12 * 3);
  }

  .column.is-4-12-900 {
    width: calc(100% / 12 * 4);
  }

  .column.is-5-12-900 {
    width: calc(100% / 12 * 5);
  }

  .column.is-6-12-900 {
    width: calc(100% / 12 * 6);
  }

  .column.is-7-12-900 {
    width: calc(100% / 12 * 7);
  }

  .column.is-8-12-900 {
    width: calc(100% / 12 * 8);
  }

  .column.is-9-12-900 {
    width: calc(100% / 12 * 9);
  }

  .column.is-10-12-900 {
    width: calc(100% / 12 * 10);
  }

  .column.is-11-12-900 {
    width: calc(100% / 12 * 11);
  }

  .column.is-12-12-900 {
    width: calc(100% / 12 * 12);
  }
}

@media screen and (min-width: 1200px) {
  .column.is-1-12-1200 {
    width: calc(100% / 12 * 1);
  }

  .column.is-2-12-1200 {
    width: calc(100% / 12 * 2);
  }

  .column.is-3-12-1200 {
    width: calc(100% / 12 * 3);
  }

  .column.is-4-12-1200 {
    width: calc(100% / 12 * 4);
  }

  .column.is-5-12-1200 {
    width: calc(100% / 12 * 5);
  }

  .column.is-6-12-1200 {
    width: calc(100% / 12 * 6);
  }

  .column.is-7-12-1200 {
    width: calc(100% / 12 * 7);
  }

  .column.is-8-12-1200 {
    width: calc(100% / 12 * 8);
  }

  .column.is-9-12-1200 {
    width: calc(100% / 12 * 9);
  }

  .column.is-10-12-1200 {
    width: calc(100% / 12 * 10);
  }

  .column.is-11-12-1200 {
    width: calc(100% / 12 * 11);
  }

  .column.is-12-12-1200 {
    width: calc(100% / 12 * 12);
  }
}

@media screen and (min-width: 1500px) {
  .columns {
    --gap: 1rem;
  }

  .column.is-1-12-1500 {
    width: calc(100% / 12 * 1);
  }

  .column.is-2-12-1500 {
    width: calc(100% / 12 * 2);
  }

  .column.is-3-12-1500 {
    width: calc(100% / 12 * 3);
  }

  .column.is-4-12-1500 {
    width: calc(100% / 12 * 4);
  }

  .column.is-5-12-1500 {
    width: calc(100% / 12 * 5);
  }

  .column.is-6-12-1500 {
    width: calc(100% / 12 * 6);
  }

  .column.is-7-12-1500 {
    width: calc(100% / 12 * 7);
  }

  .column.is-8-12-1500 {
    width: calc(100% / 12 * 8);
  }

  .column.is-9-12-1500 {
    width: calc(100% / 12 * 9);
  }

  .column.is-10-12-1500 {
    width: calc(100% / 12 * 10);
  }

  .column.is-11-12-1500 {
    width: calc(100% / 12 * 11);
  }

  .column.is-12-12-1500 {
    width: calc(100% / 12 * 12);
  }
}

@media screen and (min-width: 1800px) {
  .column.is-1-12-1800 {
    width: calc(100% / 12 * 1);
  }

  .column.is-2-12-1800 {
    width: calc(100% / 12 * 2);
  }

  .column.is-3-12-1800 {
    width: calc(100% / 12 * 3);
  }

  .column.is-4-12-1800 {
    width: calc(100% / 12 * 4);
  }

  .column.is-5-12-1800 {
    width: calc(100% / 12 * 5);
  }

  .column.is-6-12-1800 {
    width: calc(100% / 12 * 6);
  }

  .column.is-7-12-1800 {
    width: calc(100% / 12 * 7);
  }

  .column.is-8-12-1800 {
    width: calc(100% / 12 * 8);
  }

  .column.is-9-12-1800 {
    width: calc(100% / 12 * 9);
  }

  .column.is-10-12-1800 {
    width: calc(100% / 12 * 10);
  }

  .column.is-11-12-1800 {
    width: calc(100% / 12 * 11);
  }

  .column.is-12-12-1800 {
    width: calc(100% / 12 * 12);
  }
}

/* text-based components */
.title {
  font-size: 2rem;
  font-weight: 700;
}

.description {
  font-size: 0.9rem;
  font-weight: 400;
}

.caption {
  width: 100%;
  font-size: 0.75rem;
  font-weight: 700;
}

.xl {
  font-size: 3rem;
  font-weight: 700;
}

/* project-specific css */
.project-block {
  width: 80%;
}

.project-button {
  height: auto;
  border: 2px solid #eee;
  display: block;
}

.project-button:hover {
  border: 2px solid black;
}

.project-button:focus {
  border: 2px solid black;
}

.project-button img {
}

.pagination-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#home-column {
  height: 60%;
  overflow: auto;
}

#info-column {
  height: 40%;
  border-left: none;
  border-top: 2px solid black;
}

#home-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  place-items: center;
}

.project-title {
  margin-bottom: 0.5rem;
}

#project-img {
  display: none;
}

#project-description {
  white-space: pre-line;
}

@media screen and (min-width: 900px) {
  #home-column {
    height: 100%;
  }

  #info-column {
    height: 100%;
    border-left: 2px solid black;
    border-top: none;
  }

  #project-img {
    display: block;
    box-shadow: 1px 1px 1px 1px #bbb;
    margin-bottom: 2rem;
  }
}

.link-text {
  animation: 2.5s linear infinite linkText;
  cursor: pointer;
  text-decoration: none;
}

@keyframes linkText {
  0% {
    color: black;
  }
  50% {
    color: #eee;
  }
  100% {
    color: black;
  }
}

/* Project 1 css */
#today-container {
  font-size: 3rem;
  font-weight: 700;
}

#yesterday-container {
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  #today-container {
    font-size: 2rem;
  }

  #yesterday-container {
    font-size: 2rem;
  }
}

/* Project 2 css */
table {
  border-collapse: separate;
  table-layout: fixed;
  width: 39rem;
  height: 33rem;
}

th {
}

td {
  border: 2px solid black;
  /* padding: 8px; */
}

.highlight {
  background-color: red;
  border: 2px solid red;
}

/* Project 3 css */
#instagrammable {
  font-size: 5vw;
  font-weight: 700;
  color: white;
}
